body{
    margin:0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    margin-top: -17px;

}

nav ul{
    list-style-type: none;
    overflow: hidden;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 20px;
}

nav ul li a:hover{
    background-color: gray;
    font-size: 30px;
    text-decoration: underline;
}
